<!--Attention: If footer imported, make shure body is right class. otherways it will displayed false-->
<footer class="mt-auto" style="background-color: #0080FF; margin-top: 3vw;">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text-white">squada</h5>
                <p class="small text-white">Squada is an auction platform where football players who have not yet
                    been assigned to a team are auctioned by the members of the Fanta Calcio group.</p>
                <p class="small text-white mb-0">&copy; Copyrights. All rights reserved. <a class="text-white"
                        href="#">squada</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-white">
                    <li><a href="index.php" class="text-white">Home</a></li>
                    <li><a href="index.php?aktion=spieler" class="text-white">Show Players</a></li>
                    <li><a href="index.php?aktion=login" class="text-white">Login</a></li>
                    <li><a href="index.php?aktion=admin" class="text-white">Admin</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Info</h5>
                <p class="small text-white">All displayed messages as well as images and content are content of
                    <a href="https://www.fantacalcio.it/" class="text-white">"Fantacalcio.it"</a>. We assume no
                    liability for the selection of these images/messages. Any
                    images/messages are displayed without warranty.</p>
            </div>
        </div>
    </div>
</footer>

 <!-- Bootstrap JS -->
 <script src="view/js/jquery-3.3.1.slim.min.js"></script>
 <script src="view/js/bootstrap/bootstrap.bundle.min.js"></script>

 <!-- Font Awsome -->
 <script src="https://kit.fontawesome.com/f072a47e74.js" crossorigin="anonymous"></script>

</body>

</html>