<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Squada | <?=$aktion;?></title>

    <!-- Favicon-->
    <link rel="icon" href="view/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="view/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/x-icon" href="view/img/favicon.ico?" />
    <!-- CSS-->
    <link rel="stylesheet" href="view/scss/style.css" />
</head>
<body class="d-flex flex-column min-vh-100">
<?php navbar();?>