<div>

  <script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */


    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("InputSearch");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }
  </script>

  <div class="dropdown">
    <input type="text" class="form-control" id="InputSearch" placeholder="Search.." onkeyup="filterFunction()">
    <div id="myDropdown" class="dropdown-content">
      <?php foreach (get_players() as $player) { ?>
        <a class="dropdown-item" href="index.php?aktion=playerauktion&playerid=<?= $player['id']; ?>">
          <?= $player['name']; ?>
        </a>
      <?php } ?>
    </div>
  </div>


  <?php
  require_once "model/table_auktion.php";
  ?>
</div>