<?php require_once 'model/logedin.php'; ?>
<?php $players = seeOfferedPlayers($_SESSION['user']); ?>

<div class="container">
    <div class="text-center mt-5">
        <h1><?= getTimeState() ?> <?= $user['name'] ?>!</h1><br />
        <?php if ($_SESSION['admin'] == false) { ?>
        <img src="<?=getTeamImage(getUser($_SESSION['user'], $_SESSION['admin'])['name'])?>" alt="..." class="img-thumbnail">
        <div class="container">
            <h1 class="display-6">Your stats</h1>
            <p>
                <b>name:</b> <?= $user['name'] ?> <br />
                <b>loginname:</b> <?= $user['loginname'] ?> <br />
                <b>balance:</b> <?= $user['guthaben'] ?> $SQD<br />
            </p>
            <hr />
            <h1 class="display-6">Your offered players</h1>
            <div class="row justify-content-center">
                <?php foreach ($players as $value) { ?>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<?= getPlayerImage($value['name']) ?>" alt="Playerimage of <?= $value['Name'] ?>">
                        <div class="card-body">
                            <h5 class="card-title"><?= $value['name'] ?></h5>
                            <p class="card-text">
                                When: <?= $value['wann'] ?><br />
                                Price: <?= $value['geld'] ?><br />
                                Position: <?= $value['position'] ?><br />
                                House Team: <?= $value['mannschaft'] ?> <br />
                                How long: <?= $value['vertragszeit']/86400 ?> Days<br />
                            </p>
                            <a href="index.php?aktion=detail&playerid=<?=$value['id']?>" class="btn btn-primary">View auction</a>
                        </div>
                    </div>
                <?php } ?>

            </div>
        </div>
        <?php } else { ?>
            <a href="index.php?aktion=register"><button type="button" class="btn btn-primary btn-lg btn-block">Register new Team</button></a>
            <a href="index.php?aktion=changepwd"><button type="button" class="btn btn-primary btn-lg btn-block">Change Password of Team</button></a>
            <a href="#"><button type="button" class="btn btn-primary btn-lg btn-block">Delete Team</button></a>
            <a href="#"><button type="button" class="btn btn-primary btn-lg btn-block">Dissolve auction</button></a>
        <?php } ?>
    </div>
</div> 