<body class="d-flex flex-column min-vh-100">
    <!-- Page Image-->
    <header class="header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="animated fadeIn">Squada</h1>
                    <p class="lead animated fadeIn"> Welcome to Squada!
                        Squada is an auction platform where football players who have not yet been assigned to a team
                        are
                        auctioned by the members of the Fanta Calcio group.</p>
                </div>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="text-center mt-5">
            <h1 class="display-4">Welcome</h1>

            <h1 class="display-4">News</h1>
            <div class="container">
                <?php
                $rss = simplexml_load_file('https://rss.fantacalcio.it/');
                $limitnews = 6;
                $i = 1;
                ?>
                <div class="row">
                    <?php foreach ($rss->channel->item as $item) if ($i++ <= 6) { ?>
                    <div class="col-md-4">
                        <h2><a href="<?= $item->link ?>">
                                <?= $item->title ?>
                            </a></h2>
                        <p>
                            <?= $item->description ?>
                        </p>
                    </div>

                    <?php } ?>
                </div>

            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <?php require_once "html_template/html_footer.html" ?>

</body>