    <div class="container">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="<?=getPlayerImage(get_player($_GET['playerid'])['name']);?>" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><?=get_player($_GET['playerid'])['name'];?></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Position: <?=get_player($_GET['playerid'])['position'];?></li>
                            <li class="list-group-item">Home team: <?=get_player($_GET['playerid'])['mannschaft'];?></li>
                            <li class="list-group-item">Team: </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>