    <!-- Page Image-->
    <header class="header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="animated fadeIn">Squada</h1>
                    <p class="lead animated fadeIn"> Welcome to Squada!
                        Squada is an auction platform where football players who have not yet been assigned to a team
                        are
                        auctioned by the members of the Fanta Calcio group.</p>
                </div>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="text-center mt-5">
            <h1 class="display-4">Welcome</h1>

            <p>
                At Squada we offer teams a free platform where they can buy players!
                Participation is free, the only requirement is that you must be a registered team on Fantacalcio.
                If your team would like to apply, please contact us at register@squada.fake. Please also include the confirmation from Fantacalcio in the form of a PDF.
                Registration takes four working days, depending on the calendar week. As a team, you will then receive the login data.
                <br />
                At SQUADA you have the features:
            </p>

            <h1 class="display-4">News</h1>
            <div class="container">
                <?php
                $rss = simplexml_load_file('https://rss.fantacalcio.it/');
                $limitnews = 6;
                $i = 1;
                ?>
                <div class="row">
                    <?php foreach ($rss->channel->item as $item) if ($i++ <= 6) { ?>
                        <div class="col-md-4">
                            <h2><a href="<?= $item->link ?>">
                                    <?= $item->title ?>
                                </a></h2>
                            <p>
                                <?= $item->description ?>
                            </p>
                        </div>

                    <?php } ?>
                </div>

            </div>
            <h1 class="display-4">Costliest player</h1>
            <?php $player = getTeuerstenPlayer(); ?>

            <div class="row justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<?= getPlayerImage($player['name']) ?>" alt="Playerimage of <?= $player['Name'] ?>">
                        <div class="card-body">
                            <h5 class="card-title"><?= $player['name'] ?></h5>
                            <p class="card-text">
                                Position: <?= $player['position'] ?><br />
                                Team: <?= $player['mannschaft'] ?><br />
                                Cost: <?= $player['geld'] ?> $SQD<br />
                            </p>
                            <a href="index.php?aktion=playerauktion&playerid=<?= $player['id'] ?>" class="btn btn-primary">View auction</a>
                        </div>
                    </div>

            </div>
        </div>
    </div>