    <div class="login-form">
        <form action="index.php?aktion=login" method="post">
            <h2 class="text-center">LOG IN</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Loginname" name="loginname" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Passwort" name="pwd" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <?php 
                if (success()) { ?>
            <p>Login faild!</p>
            <?php }?>
        </form>
    </div>
