<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<?=getPlayerImage(get_player($_GET['playerid'])['name']);?>"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><?=get_player($_GET['playerid'])['name'];?></h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Position: <?=get_player($_GET['playerid'])['position'];?>
                        </li>
                        <li class="list-group-item">Home team: <?=get_player($_GET['playerid'])['mannschaft'];?>
                            <br /><img src="<?=getTeamImage(get_player($_GET['playerid'])['mannschaft']);?>"
                                alt="Team Image" width="25%"></li>
                        <li class="list-group-item">Team:
                            <?php
                                if(time()>strtotime(getTimestampVorVertrag($_GET['playerid']))){
                                    ?><?=get_player($_GET['playerid'])['originalmannschaft'];?>
                                    <?php
                                }else{
                                    ?>-<?php
                                }
                            ?>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <?php
    if(is_logged_in()&&$_SESSION['admin']==false){
    ?>
    <form class="row g-3" action="" method="POST">
        <input type="hidden" name="player" value="<?=$_GET['playerid'];?>">
        <div class="col-auto">
          <label for="geld" class="visually-hidden">AMOUNT</label>
          <input type="number" name="geld" min="1" step="1" class="form-control" placeholder="AMOUNT" required>
        </div>
        <div class="col-auto">
            <?php
            //Wenn jetztzeit größer als zeit ist wenn spiler nicht mehr unter vertrag ist oder vor dem vertrag dann ist button clickbar
            if (time()>strtotime(getTimestampWhenSpielerNichtMehrUnterVertragIst($_GET['playerid']))||time()<strtotime(getTimestampVorVertrag($_GET['playerid']))) {
                ?>
                <button type="submit" name="bieten" class="btn btn-primary mb-3">BET</button>
                <?php
            }else{
            ?>
            <button type="submit" name="bieten" class="btn btn-primary mb-3" DISABLED>BET</button>
            <?php
            }
            ?>
        </div>
    </form>
    <?php
    }
    ?>

    <div>
       <?php
            require_once "model/generate_playerstats.php";
       ?> 
    </div>


    <hr>


    <h1>Auction Log:</h1>

    <?php
        generateLogTable($_GET['playerid']);
    ?>

</div>