<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<?=getPlayerImage(get_player($_GET['playerid'])['name']);?>"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><?=get_player($_GET['playerid'])['name'];?></h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Position: <?=get_player($_GET['playerid'])['position'];?>
                        </li>
                        <li class="list-group-item">Home team: <?=get_player($_GET['playerid'])['mannschaft'];?>
                            <br /><img src="<?=getTeamImage(get_player($_GET['playerid'])['mannschaft']);?>"
                                alt="Team Image" width="25%"></li>
                        <li class="list-group-item">Team:
                            <?=get_player($_GET['playerid'])['originalmannschaft'];?>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <form class="row g-3" action="" method="POST">
        <input type="hidden" name="player" value="<?=$_GET['playerid'];?>">
        <div class="col-auto">
          <label for="geld" class="visually-hidden">AMOUNT</label>
          <input type="number" name="geld" min="1" step="1" class="form-control" placeholder="AMOUNT" required>
        </div>
        <div class="col-auto">
            <?php
            //Wenn jetztzeit größer als zeit ist wenn spiler nicht mehr unter vertrag ist oder vor dem vertrag dann ist button clickbar
            if (time()>strtotime(getTimestampWhenSpielerNichtMehrUnterVertragIst($_GET['playerid']))||time()<strtotime(getTimestampVorVertrag($_GET['playerid']))) {
                ?>
                <button type="submit" name="bieten" class="btn btn-primary mb-3">BIETEN</button>
                <?php
            }else{
            ?>
            <button type="submit" name="bieten" class="btn btn-primary mb-3" DISABLED>BIETEN</button>
            <?php
            }
            ?>
        </div>
    </form>

    <div>
        <h1>Auktion Status:</h1>
        <?php
        //var_dump(getAuktionDetails(getLatestAuktionId($_GET['playerid'])));
        //extract(getAuktionDetails(getLatestAuktionId($_GET['playerid'])));
        $latestAuktion = getLatestAuktionId($_GET['playerid']);
        if (!empty($latestAuktion)) {
        $auktionDetails = getAuktionDetails($latestAuktion['id']);
        $anfang = $auktionDetails['anfang'];
        $dauer = $auktionDetails['dauer'];
        $vertragszeit = $auktionDetails['vertragszeit'];
        $bis = date('Y-m-d H:i:s', strtotime("$anfang + $dauer Seconds"));
        $vertragsende = date('Y-m-d H:i:s', strtotime("$bis + $vertragszeit Seconds"));
        //60*60*24
        $vertragsdauerindays = $vertragszeit/86400;
        ?>
        <!--error detected: will not reload on new players unless they have vertrag-->
        <p>Anfang Auktion: <?=$anfang;?></p>
        <p>Ende Auktion und Start Vertrag: <?=$bis;?></p>
        <p>Ende Vertrag: <?=$vertragsende;?></p>
        <p>Vertragszeit in Tagen: <?=$vertragsdauerindays;?></p>
        <?php
        }else {
        ?>
        <p>Keine Auktion vorhanden</p>
        <?php
        }
        ?>

        <h1>Vertrag Status:</h1>
        <?php
        if (time()>strtotime(getTimestampWhenSpielerNichtMehrUnterVertragIst($_GET['playerid']))||time()<strtotime(getTimestampVorVertrag($_GET['playerid']))) {
            echo "Nicht unter Vertrag";
        }else{
            echo "Unter Vertrag";
        }
        ?>
    </div>


    <hr>



    <?php
        generateLogTable($_GET['playerid']);
    ?>

</div>